.error {
  margin-bottom: 20px;
  text-align: center;
}

.error-img {
  width: 150px;
  height: auto;
  align-self: center;

  @media (max-width: 768px) {
    width: 130px;
  }

  @media (max-width: 480px) {
    width: 115px;
  }
}
