.product {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 15px 20px;
  box-shadow: var(--basic-shadow);
  border-radius: 15px;
}

.product-title {
  margin-bottom: 4px;
}

.product-description {
  margin-bottom: 4px;
}

.product-price {
  display: inline-flex;
  align-items: center;
  column-gap: 2px;
  margin-bottom: 2px;
  font-weight: 600;
  color: var(--primary-green-color);
}

.product-rating-wrapper,
.product-review-wrapper {
  display: inline-flex;
}

.product-additional-info {
  display: flex;
  column-gap: 8px;
}

.product-rating,
.product-reviews {
  display: inline-flex;
  align-items: center;
  column-gap: 4px;
}

.product-reviews {
  color: #001a3499;
}

.add-to-cart-btn {
  position: absolute;
  bottom: 4px;
  right: 10px;
  padding: 8px;
  max-width: 42px;
  max-height: 42px;
  border-radius: 10px;
  transition: var(--basic-transition);

  @media (hover: hover) {
    &:hover {
      background-color: #80808029;
    }
  }

  @media (max-width: 480px) {
    padding: 4px;
  }
}

.cart-logo {
  width: 26px;
  height: 26px;

  @media (max-width: 480px) {
    width: 22px;
    height: 22px;
  }
}
