.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 25px;
}

.info-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 10px;
  flex-basis: 30%;

  @media (max-width: 480px) {
    row-gap: 5px;
    flex-basis: 20%;
  }
}

.title {
  font-weight: 500;
}

.img {
  display: block;
  width: 150px;
  height: auto;
  border-radius: 10px;
  box-shadow: var(--basic-shadow);

  @media (max-width: 1024px) {
    width: 130px;
  }

  @media (max-width: 768px) {
    width: 100px;
  }

  @media (max-width: 480px) {
    width: 80px;
  }
}

.delivery {
  color: #001a3499;
}

.delete-product-btn {
  padding: 12px;
  border-radius: 15px;
  background-color: #80808029;
  opacity: 0.7;
  @media (hover: hover) {
    &:hover {
      opacity: 1;
    }
  }
  @media (max-width: 768px) {
    padding: 10px;
    border-radius: 10px;
  }
}

.trash-logo {
  display: block;
  width: 22px;
  height: auto;

  @media (max-width: 768px) {
    width: 20px;
  }

  @media (max-width: 480px) {
    width: 18px;
  }
}

.count-wrapper {
  display: flex;
  column-gap: 20px;
  align-items: center;
  flex-basis: 20%;

  @media (max-width: 768px) {
    flex-basis: 15%;
    column-gap: 15px;
  }
}

.count {
  font-weight: 600;

  &.bump {
    animation: global(bump) 0.25s ease;
  }
}

.decrement-btn,
.increment-btn {
  position: relative;
  padding: 10px;
  width: 35px;
  height: 35px;
  background-color: #80808029;
  opacity: 0.7;
  @media (hover: hover) {
    &:hover {
      opacity: 1;
    }
  }

  &::before {
    position: absolute;
    left: calc(50% - 7px);
    content: "";
    width: 14px;
    height: 2px;
    background-color: black;

    @media (max-width: 480px) {
      left: calc(50% - 5px);
      width: 10px;
    }
  }

  @media (max-width: 768px) {
    padding: 8px;
    width: 30px;
    height: 30px;
  }

  @media (max-width: 480px) {
    padding: 6px;
    width: 26px;
    height: 26px;
  }
}

.increment-btn {
  &::after {
    position: absolute;
    top: 50%;
    left: calc(50% - 7px);
    transform: rotate(90deg);
    content: "";
    width: 14px;
    height: 2px;
    background-color: black;

    @media (max-width: 480px) {
      left: calc(50% - 5px);
      width: 10px;
    }
  }
}

.price {
  font-weight: 500;
  color: var(--primary-green-color);

  &.bump {
    animation: global(bump) 0.25s ease;
  }
}
