.cart-wrapper {
  position: relative;
  margin-inline: 40px;
  cursor: pointer;
  border-radius: 15px;
  transition: var(--basic-transition);
  @media (hover: hover) {
    &:hover {
      background-color: #80808029;
    }
  }

  @media (max-width: 1280px) {
    margin-inline: 25px;
  }
}

.cart-link {
  display: block;
  padding: 20px;
  max-width: 70px;
  max-height: 70px;

  @media (max-width: 768px) {
    padding: 15px;
    max-width: 55px;
    max-height: 55px;
  }
}

.cart-img {
  width: 30px;
  height: 30px;

  @media (max-width: 768px) {
    width: 28px;
    height: 28px;
  }
}

.cart-count {
  position: absolute;
  top: 5px;
  right: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  background-color: #1f883d;
  border-radius: 50%;
  font-size: 12px;
  color: var(--white-color);

  &.bump {
    animation: global(bump) 0.25s ease;
  }

  @media (max-width: 768px) {
    top: -1px;
    right: -5px;
    width: 18px;
    height: 18px;
    font-size: 10px;
  }
}
