.title {
  margin-bottom: 40px;
  text-align: center;

  &.error {
    margin-bottom: 20px;
  }
}

.showmore-btn {
  align-self: center;
  padding: 14px 30px;
  border-radius: 10px;
  color: var(--white-color);
  background-color: var(--primary-green-color);
  text-align: center;
  box-shadow: var(--basic-shadow);

  &:disabled {
    background-color: var(--disable-color);
    cursor: not-allowed;
    opacity: 1;
  }

  @media (hover: hover) {
    &:hover {
      background-color: rgb(32, 167, 32);
    }
  }

  @media (max-width: 480px) {
    padding: 10px 25px;
  }
}
