.products {
  padding-block: 60px 40px;
  min-height: calc(100vh - 110px);
  background-color: #8080800a;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  margin-bottom: 40px;
  text-align: center;
  font-size: 42px;
}

.showmore-btn {
  padding: 14px 30px;
  border-radius: 10px;
  font-size: 18px;
  color: var(--white-color);
  background-color: var(--primary-green-color);
  opacity: 0.9;
  text-align: center;
  transition: var(--basic-transition);
  box-shadow: var(--basic-shadow);

  &:disabled {
    background-color: var(--disable-color);
    cursor: not-allowed;
    opacity: 1;
  }

  @media (hover: hover) {
    &:hover {
      opacity: 1;
    }
  }
}
