.profile-btn {
  display: flex;
  column-gap: 10px;
  align-items: center;
  padding: 15px;

  &:focus-visible {
    outline: none;
  }

  &:focus-visible .profile-arrow {
    outline: 1px solid var(--black-color);
  }

  @media (max-width: 768px) {
    column-gap: 8px;
    align-items: center;
    padding: 8px;
  }
}

.profile-arrow {
  transition: var(--basic-transition);
  &.open {
    transform: rotate(180deg);
  }
}

.profile-logo {
  width: 40px;
  height: 40px;

  @media (max-width: 768px) {
    width: 36px;
    height: 36px;
  }
}
