.not-found {
  padding-block: 60px 40px;
  min-height: calc(100vh - 110px);

  @media (max-width: 768px) {
    min-height: calc(100vh - 96px);
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  margin-bottom: 8px;
}

.img {
  width: min(800px, 90%);
  height: auto;
}
